In [1]:
import os
import pandas as pd

In [2]:
#data_path = '/home/db600/phd/data/depmap/'
data_path = 'C:\\Users\\dan\\Documents\\phd\\data\\depmap\\'
#os.getcwd()
os.listdir(data_path)

['CRISPRGeneDependency.csv',
 'Model.csv',
 'OmicsExpressionProteinCodingGenesTPMLogp1.csv',
 'OmicsSomaticMutations.csv',
 'OmicsSomaticMutationsMAFProfile.maf',
 'OmicsSomaticMutationsMatrixDamaging.csv',
 'README.txt']

In [3]:
dep_data = pd.read_csv(data_path + 'CRISPRGeneDependency.csv') 
exp_data = pd.read_csv(data_path + 'OmicsExpressionProteinCodingGenesTPMLogp1.csv')
mut_data = pd.read_csv(data_path + 'OmicsSomaticMutations.csv')
model_data = pd.read_csv(data_path + 'Model.csv')

C:\Users\dan\AppData\Local\Temp\ipykernel_34420\4079186740.py:3: DtypeWarning: Columns (49,50,51,53) have mixed types. Specify dtype option on import or set low_memory=False.
  mut_data = pd.read_csv(data_path + 'OmicsSomaticMutations.csv')

In [5]:
dep_data.head()

,ModelID,A1BG (1),A1CF (29974),A2M (2),A2ML1 (144568),A3GALT2 (127550),A4GALT (53947),A4GNT (51146),AAAS (8086),AACS (65985),...,ZWILCH (55055),ZWINT (11130),ZXDA (7789),ZXDB (158586),ZXDC (79364),ZYG11A (440590),ZYG11B (79699),ZYX (7791),ZZEF1 (23140),ZZZ3 (26009)
0,ACH-000001,0.055321,0.014039,0.014084,0.033828,0.049511,0.004955,0.026993,0.131006,0.003102,...,0.047757,0.047806,0.007155,0.002537,0.003660,0.154849,0.015792,0.015999,0.006200,0.436777
1,ACH-000004,0.023418,0.048724,0.058084,0.019483,0.049793,0.064472,0.001775,0.071289,0.003732,...,0.044517,0.471009,0.005096,0.015149,0.009804,0.015507,0.319598,0.007778,0.004392,0.048136
2,ACH-000005,0.059552,0.025478,0.009989,0.008775,0.099322,0.099572,0.007544,0.049601,0.047555,...,0.073457,0.281892,0.044789,0.058229,0.029638,0.097357,0.066269,0.025365,0.042530,0.096150
3,ACH-000007,0.023880,0.035082,0.006556,0.004322,0.022200,0.017121,0.009605,0.149378,0.052873,...,0.160608,0.593581,0.017412,0.001892,0.006432,0.029261,0.369101,0.015412,0.165622,0.366325
4,ACH-000009,0.027652,0.074860,0.011021,0.009153,0.021632,0.067758,0.013559,0.216796,0.013660,...,0.181632,0.342313,0.042414,0.002859,0.058070,0.053355,0.651365,0.012016,0.023990,0.312202

In [6]:
mut_maf = pd.read_csv(data_path + 'OmicsSomaticMutationsMAFProfile.maf', sep="\t", low_memory=False)

In [7]:
mut_maf.head()
#len(mut_maf)

,Hugo_Symbol,NCBI_Build,Chromosome,Start_Position,End_Position,Variant_Type,Reference_Allele,Tumor_Seq_Allele1,Tumor_Seq_Allele2,Tumor_Sample_Barcode,Variant_Classification,Protein_Change
0,MIR1302-2HG,GRCh38,1,30037,30038,SNP,T,T,C,PR-MdYnGF,Splice_Site,NaN
1,OR4F5,GRCh38,1,69453,69454,SNP,G,G,A,PR-eJKW7S,Silent,p.K142K
2,OR4F5,GRCh38,1,69453,69454,SNP,G,G,A,PR-64cwWG,Silent,p.K142K
3,OR4F5,GRCh38,1,69552,69553,SNP,G,G,C,PR-MjCKCh,Silent,p.A175A
4,OR4F5,GRCh38,1,69588,69589,SNP,G,G,T,PR-egJh3A,Missense_Mutation,p.E187D

In [9]:
mut_data2 = pd.read_csv(data_path + 'OmicsSomaticMutations.csv', low_memory=False)

In [10]:
mut_data2.head()

,Chrom,Pos,Ref,Alt,AF,RefCount,AltCount,GT,PS,VariantType,...,RevelScore,Funseq2Score,PharmgkbID,DidaID,DidaName,GwasDisease,GwasPmID,GTexGene,ModelID,EntrezGeneID
0,chr1,1242864,GC,CT,0.310,19,8,0/1,NaN,DNP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACH-000839,388581.0
1,chr1,10647969,A,G,0.400,29,19,0|1,10647969.0,SNP,...,0.234,3.0,NaN,NaN,NaN,NaN,NaN,NaN,ACH-000839,54897.0
2,chr1,10648097,T,G,0.349,21,10,0/1,NaN,SNP,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,ACH-000839,54897.0
3,chr1,13198424,G,A,0.833,0,4,0/1,NaN,SNP,...,0.002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACH-000839,400736.0
4,chr1,13225068,A,G,0.396,34,24,0/1,NaN,SNP,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,ACH-000839,391003.0

In [6]:
mut_data.columns

Index(['Chrom', 'Pos', 'Ref', 'Alt', 'AF', 'RefCount', 'AltCount', 'GT', 'PS',
       'VariantType', 'VariantInfo', 'DNAChange', 'ProteinChange',
       'HugoSymbol', 'HgncName', 'HgncFamily', 'Transcript', 'TranscriptExon',
       'TranscriptStrand', 'UniprotID', 'Str', 'DbsnpID', 'DbsnpFilter',
       'Issues', 'GcContent', 'LineageAssociation', 'CancerMolecularGenetics',
       'CCLEDeleterious', 'StructuralRelation', 'CosmicHotspot',
       'CosmicOverlappingMutations', 'AssociatedWith', 'LoF', 'Driver',
       'LikelyDriver', 'TranscriptLikelyLoF', 'CivicID', 'CivicDescription',
       'CivicScore', 'Popaf', 'LikelyGoF', 'LikelyLoF', 'HessDriver',
       'HessSignature', 'CscapeScore', 'DannScore', 'RevelScore',
       'Funseq2Score', 'PharmgkbID', 'DidaID', 'DidaName', 'GwasDisease',
       'GwasPmID', 'GTexGene', 'ModelID', 'EntrezGeneID'],
      dtype='object')

In [7]:
mut_data.head()

,Chrom,Pos,Ref,Alt,AF,RefCount,AltCount,GT,PS,VariantType,...,RevelScore,Funseq2Score,PharmgkbID,DidaID,DidaName,GwasDisease,GwasPmID,GTexGene,ModelID,EntrezGeneID
0,chr1,1242864,GC,CT,0.310,19,8,0/1,NaN,DNP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACH-000839,388581.0
1,chr1,10647969,A,G,0.400,29,19,0|1,10647969.0,SNP,...,0.234,3.0,NaN,NaN,NaN,NaN,NaN,NaN,ACH-000839,54897.0
2,chr1,10648097,T,G,0.349,21,10,0/1,NaN,SNP,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,ACH-000839,54897.0
3,chr1,13198424,G,A,0.833,0,4,0/1,NaN,SNP,...,0.002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACH-000839,400736.0
4,chr1,13225068,A,G,0.396,34,24,0/1,NaN,SNP,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,ACH-000839,391003.0

In [13]:
exp_data.head()

,Unnamed: 0,TSPAN6 (7105),TNMD (64102),DPM1 (8813),SCYL3 (57147),C1orf112 (55732),FGR (2268),CFH (3075),FUCA2 (2519),GCLC (2729),...,H3C2 (8358),H3C3 (8352),AC098582.1 (8916),DUS4L-BCAP29 (115253422),C8orf44-SGK3 (100533105),ELOA3B (728929),NPBWR1 (2831),ELOA3D (100506888),ELOA3 (162699),CDR1 (1038)
0,ACH-001113,4.331992,0.000000,7.364660,2.792855,4.471187,0.028569,1.226509,3.044394,6.500005,...,2.689299,0.189034,0.201634,2.130931,0.555816,0.0,0.275007,0.0,0.0,0.000000
1,ACH-001289,4.567424,0.584963,7.106641,2.543496,3.504620,0.000000,0.189034,3.813525,4.221877,...,1.286881,1.049631,0.321928,1.464668,0.632268,0.0,0.014355,0.0,0.0,0.000000
2,ACH-001339,3.150560,0.000000,7.379118,2.333424,4.228049,0.056584,1.310340,6.687201,3.682573,...,0.594549,1.097611,0.831877,2.946731,0.475085,0.0,0.084064,0.0,0.0,0.042644
3,ACH-001538,5.085340,0.000000,7.154211,2.545968,3.084064,0.000000,5.868390,6.165309,4.489928,...,0.214125,0.632268,0.298658,1.641546,0.443607,0.0,0.028569,0.0,0.0,0.000000
4,ACH-000242,6.729417,0.000000,6.537917,2.456806,3.867896,0.799087,7.208478,5.570159,7.127117,...,1.117695,2.358959,0.084064,1.910733,0.000000,0.0,0.464668,0.0,0.0,0.000000

In [19]:
mut_data.head()
len(mut_data2)

1408099

In [31]:
# Model.csv contains meta data on the cell lines used. Used to index cell lines with CCLE Name but now uses Broad ID
model_data[model_data['CCLEName'] == 'BXPC3_PANCREAS']

,ModelID,PatientID,CellLineName,StrippedCellLineName,Age,SourceType,SangerModelID,RRID,DepmapModelType,AgeCategory,...,PublicComments,WTSIMasterCellID,EngineeredModel,TreatmentStatus,OnboardedMedia,PlateCoating,OncotreeCode,OncotreeSubtype,OncotreePrimaryDisease,OncotreeLineage
531,ACH-000535,PT-xfjEoE,BxPC-3,BXPC3,61.0,Commercial,SIDM00132,CVCL_0186,PAAD,Adult,...,NaN,1978.0,NaN,NaN,MF-001-001,NaN,PAAD,Pancreatic Adenocarcinoma,Pancreatic Adenocarcinoma,Pancreas

In [53]:
# Get cell line column from each dataset to find intersection. These are the cell lines we will use
dep_cell_lines = set(dep_data['ModelID'])
mut_cell_lines = set(mut_data['Unnamed: 0'])
exp_cell_lines = set(exp_data['Unnamed: 0'])

print(len(dep_cell_lines))
print(len(mut_cell_lines))
print(len(exp_cell_lines))

# Find cell lines that are present in all 3 datasets
cell_lines = dep_cell_lines.intersection(mut_cell_lines, exp_cell_lines)

len(cell_lines)

1095
1738
1450

1013

In [54]:
# Retrieve metadata for the intersecting cell lines
model_data[model_data['ModelID'].isin(cell_lines)]

,ModelID,PatientID,CellLineName,StrippedCellLineName,Age,SourceType,SangerModelID,RRID,DepmapModelType,AgeCategory,...,PublicComments,WTSIMasterCellID,EngineeredModel,TreatmentStatus,OnboardedMedia,PlateCoating,OncotreeCode,OncotreeSubtype,OncotreePrimaryDisease,OncotreeLineage
0,ACH-000001,PT-gj46wT,NIH:OVCAR-3,NIHOVCAR3,60.0,Commercial,SIDM00105,CVCL_0465,HGSOC,Adult,...,NaN,2201.0,NaN,NaN,MF-001-041,NaN,HGSOC,High-Grade Serous Ovarian Cancer,Ovarian Epithelial Tumor,Ovary/Fallopian Tube
3,ACH-000004,PT-q4K2cp,HEL,HEL,30.0,Commercial,SIDM00594,CVCL_0001,AML,Adult,...,NaN,783.0,NaN,Post-treatment,MF-001-001,NaN,AML,Acute Myeloid Leukemia,Acute Myeloid Leukemia,Myeloid
4,ACH-000005,PT-q4K2cp,HEL 92.1.7,HEL9217,30.0,Commercial,SIDM00593,CVCL_2481,AML,Adult,...,NaN,NaN,NaN,NaN,MF-001-001,NaN,AML,Acute Myeloid Leukemia,Acute Myeloid Leukemia,Myeloid
6,ACH-000007,PT-NOXwpH,LS513,LS513,63.0,Commercial,SIDM00677,CVCL_1386,COAD,Adult,...,NaN,569.0,NaN,NaN,MF-001-001,NaN,COAD,Colon Adenocarcinoma,Colorectal Adenocarcinoma,Bowel
8,ACH-000009,PT-puKIyc,C2BBe1,C2BBE1,72.0,Commercial,SIDM01233,CVCL_1096,COAD,Adult,...,NaN,2104.0,NaN,NaN,MF-002-021,NaN,COAD,Colon Adenocarcinoma,Colorectal Adenocarcinoma,Bowel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1843,ACH-002800,PT-WTpRkW,NCC-MPNST2-C1,NCCMPNST2C1,54.0,Academic lab,NaN,CVCL_YU13,MPNST,Adult,...,Patient-derived model,NaN,NaN,NaN,MF-007-006,NaN,MPNST,Malignant Peripheral Nerve Sheath Tumor,Nerve Sheath Tumor,Peripheral Nervous System
1844,ACH-002834,PT-EcUHFc,PSS131R,PSS131R,NaN,Academic lab,NaN,NaN,OS,Unknown,...,NaN,NaN,NaN,NaN,MF-002-001,NaN,OS,Osteosarcoma,Osteosarcoma,Bone
1848,ACH-002847,PT-AFnHpd,YUHOIN 06-50,YUHOIN0650,59.0,Academic lab,NaN,CVCL_J521,MEL,Adult,...,NaN,NaN,NaN,NaN,MF-036-001,NaN,MEL,Melanoma,Melanoma,Skin
1853,ACH-002922,PT-LKZDpW,SK-N-MM,SKNMM,8.0,Academic lab,NaN,NaN,NBL,Pediatric,...,NaN,NaN,NaN,NaN,MF-001-001,NaN,NBL,Neuroblastoma,Neuroblastoma,Peripheral Nervous System
1854,ACH-002926,PT-vu5jnE,UPMD1,UPMD1,NaN,NaN,NaN,CVCL_C297,UM,Unknown,...,NaN,NaN,NaN,NaN,MF-001-001,NaN,UM,Uveal Melanoma,Ocular Melanoma,Eye

In [9]:
model_data.columns

Index(['ModelID', 'PatientID', 'CellLineName', 'StrippedCellLineName', 'Age',
       'SourceType', 'SangerModelID', 'RRID', 'DepmapModelType', 'AgeCategory',
       'GrowthPattern', 'LegacyMolecularSubtype', 'PrimaryOrMetastasis',
       'SampleCollectionSite', 'Sex', 'SourceDetail', 'LegacySubSubtype',
       'CatalogNumber', 'CCLEName', 'COSMICID', 'PublicComments',
       'WTSIMasterCellID', 'EngineeredModel', 'TreatmentStatus',
       'OnboardedMedia', 'PlateCoating', 'OncotreeCode', 'OncotreeSubtype',
       'OncotreePrimaryDisease', 'OncotreeLineage'],
      dtype='object')

In [18]:
model_data['OncotreePrimaryDisease'].unique()
model_data['OncotreeLineage'].unique()

model_data[model_data['OncotreeLineage']=='Prostate']

model_data['OncotreeLineage'].value_counts()

Lung                         241
Lymphoid                     209
CNS/Brain                    123
Skin                         118
Esophagus/Stomach             95
Breast                        92
Bowel                         87
Head and Neck                 81
Myeloid                       77
Bone                          75
Ovary/Fallopian Tube          74
Pancreas                      65
Kidney                        64
Peripheral Nervous System     55
Soft Tissue                   54
Fibroblast                    41
Uterus                        41
Biliary Tract                 40
Normal                        39
Bladder/Urinary Tract         39
Pleura                        35
Liver                         28
Cervix                        25
Eye                           19
Thyroid                       18
Prostate                      14
Vulva/Vagina                   5
Ampulla of Vater               4
Testis                         4
Adrenal Gland                  1
Other                          1
Name: OncotreeLineage, dtype: int64

In [28]:
model_data[model_data['CCLEName'] == 'HEL_HAEMATOPOIETIC_AND_LYMPHOID_TISSUE']
#model_data

,ModelID,PatientID,CellLineName,StrippedCellLineName,Age,SourceType,SangerModelID,RRID,DepmapModelType,AgeCategory,...,PublicComments,WTSIMasterCellID,EngineeredModel,TreatmentStatus,OnboardedMedia,PlateCoating,OncotreeCode,OncotreeSubtype,OncotreePrimaryDisease,OncotreeLineage
3,ACH-000004,PT-q4K2cp,HEL,HEL,30.0,Commercial,SIDM00594,CVCL_0001,AML,Adult,...,NaN,783.0,NaN,Post-treatment,MF-001-001,None,AML,Acute Myeloid Leukemia,Acute Myeloid Leukemia,Myeloid