In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
#data_path = '/home/db600/phd/data/depmap/'
data_path = 'C:\\Users\\dan\\Documents\\phd\\data\\'
#os.getcwd()
os.listdir(data_path)

['alphamissense',
 'biomart',
 'cell_gofs.csv',
 'cell_lofs.csv',
 'dependant',
 'depmap',
 'missing_gene_names.csv',
 'pathway_commons',
 'reactome',
 'reactome_rows_to_drop.csv',
 'string']

In [3]:
dep_data = pd.read_csv(data_path + 'depmap\\CRISPRGeneDependency.csv') 
exp_data = pd.read_csv(data_path + 'depmap\\OmicsExpressionProteinCodingGenesTPMLogp1.csv')
mut_data = pd.read_csv(data_path + 'depmap\\OmicsSomaticMutations.csv', low_memory=False)
model_data = pd.read_csv(data_path + 'depmap\\Model.csv')
ppi_data = pd.read_csv(data_path + 'dependant\\processed_ppi\\pathway_commons_reactome_sif.csv')

In [4]:
dep_data.head()

,ModelID,A1BG (1),A1CF (29974),A2M (2),A2ML1 (144568),A3GALT2 (127550),A4GALT (53947),A4GNT (51146),AAAS (8086),AACS (65985),...,ZWILCH (55055),ZWINT (11130),ZXDA (7789),ZXDB (158586),ZXDC (79364),ZYG11A (440590),ZYG11B (79699),ZYX (7791),ZZEF1 (23140),ZZZ3 (26009)
0,ACH-000001,0.055321,0.014039,0.014084,0.033828,0.049511,0.004955,0.026993,0.131006,0.003102,...,0.047757,0.047806,0.007155,0.002537,0.003660,0.154849,0.015792,0.015999,0.006200,0.436777
1,ACH-000004,0.023418,0.048724,0.058084,0.019483,0.049793,0.064472,0.001775,0.071289,0.003732,...,0.044517,0.471009,0.005096,0.015149,0.009804,0.015507,0.319598,0.007778,0.004392,0.048136
2,ACH-000005,0.059552,0.025478,0.009989,0.008775,0.099322,0.099572,0.007544,0.049601,0.047555,...,0.073457,0.281892,0.044789,0.058229,0.029638,0.097357,0.066269,0.025365,0.042530,0.096150
3,ACH-000007,0.023880,0.035082,0.006556,0.004322,0.022200,0.017121,0.009605,0.149378,0.052873,...,0.160608,0.593581,0.017412,0.001892,0.006432,0.029261,0.369101,0.015412,0.165622,0.366325
4,ACH-000009,0.027652,0.074860,0.011021,0.009153,0.021632,0.067758,0.013559,0.216796,0.013660,...,0.181632,0.342313,0.042414,0.002859,0.058070,0.053355,0.651365,0.012016,0.023990,0.312202

In [5]:
mut_data.head()

,Chrom,Pos,Ref,Alt,AF,RefCount,AltCount,GT,PS,VariantType,...,RevelScore,Funseq2Score,PharmgkbID,DidaID,DidaName,GwasDisease,GwasPmID,GTexGene,ModelID,EntrezGeneID
0,chr1,1242864,GC,CT,0.310,19,8,0/1,NaN,DNP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACH-000839,388581.0
1,chr1,10647969,A,G,0.400,29,19,0|1,10647969.0,SNP,...,0.234,3.0,NaN,NaN,NaN,NaN,NaN,NaN,ACH-000839,54897.0
2,chr1,10648097,T,G,0.349,21,10,0/1,NaN,SNP,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,ACH-000839,54897.0
3,chr1,13198424,G,A,0.833,0,4,0/1,NaN,SNP,...,0.002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACH-000839,400736.0
4,chr1,13225068,A,G,0.396,34,24,0/1,NaN,SNP,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,ACH-000839,391003.0

In [6]:
exp_data.head()

,Unnamed: 0,TSPAN6 (7105),TNMD (64102),DPM1 (8813),SCYL3 (57147),C1orf112 (55732),FGR (2268),CFH (3075),FUCA2 (2519),GCLC (2729),...,H3C2 (8358),H3C3 (8352),AC098582.1 (8916),DUS4L-BCAP29 (115253422),C8orf44-SGK3 (100533105),ELOA3B (728929),NPBWR1 (2831),ELOA3D (100506888),ELOA3 (162699),CDR1 (1038)
0,ACH-001113,4.331992,0.000000,7.364660,2.792855,4.471187,0.028569,1.226509,3.044394,6.500005,...,2.689299,0.189034,0.201634,2.130931,0.555816,0.0,0.275007,0.0,0.0,0.000000
1,ACH-001289,4.567424,0.584963,7.106641,2.543496,3.504620,0.000000,0.189034,3.813525,4.221877,...,1.286881,1.049631,0.321928,1.464668,0.632268,0.0,0.014355,0.0,0.0,0.000000
2,ACH-001339,3.150560,0.000000,7.379118,2.333424,4.228049,0.056584,1.310340,6.687201,3.682573,...,0.594549,1.097611,0.831877,2.946731,0.475085,0.0,0.084064,0.0,0.0,0.042644
3,ACH-001538,5.085340,0.000000,7.154211,2.545968,3.084064,0.000000,5.868390,6.165309,4.489928,...,0.214125,0.632268,0.298658,1.641546,0.443607,0.0,0.028569,0.0,0.0,0.000000
4,ACH-000242,6.729417,0.000000,6.537917,2.456806,3.867896,0.799087,7.208478,5.570159,7.127117,...,1.117695,2.358959,0.084064,1.910733,0.000000,0.0,0.464668,0.0,0.0,0.000000

In [7]:
print(len(ppi_data))
ppi_data.head()

329941

  PARTICIPANT_A PARTICIPANT_B
0          A1CF       APOBEC2
1          A1CF      APOBEC3A
2          A1CF      APOBEC3B
3          A1CF      APOBEC3C
4          A1CF      APOBEC3H

In [8]:
# Get list of training cell lines used in original program
# Manually saved to CSV earlier
original_cell_lines = pd.read_csv(data_path + 'dependant\\original_training_cell_lines.csv')
original_cell_lines = original_cell_lines.rename(columns={'cell_line': 'CCLEName'})

# Add depmap model ID to the list of original training cell lines
original_cell_lines = pd.merge(original_cell_lines, model_data[['ModelID', 'CCLEName']], on='CCLEName', how='left')

# View the cell line list
original_cell_lines

             CCLEName     ModelID
0      HCC1428_BREAST  ACH-000352
1      HCC1806_BREAST  ACH-000624
2      HCC1937_BREAST  ACH-000223
3     MDAMB231_BREAST  ACH-000768
4       HCC202_BREAST  ACH-000725
5        CAL51_BREAST  ACH-000856
6     MDAMB468_BREAST  ACH-000849
7         KPL1_BREAST  ACH-000028
8     MDAMB415_BREAST  ACH-000876
9     MDAMB157_BREAST  ACH-000621
10    MDAMB453_BREAST  ACH-000910
11     HCC1954_BREAST  ACH-000859
12      HS578T_BREAST  ACH-000148
13       ZR751_BREAST  ACH-000097
14       AU565_BREAST  ACH-000248
15    MDAMB436_BREAST  ACH-000573
16       EFM19_BREAST  ACH-000330
17     HCC1143_BREAST  ACH-000374
18     HCC1395_BREAST  ACH-000699
19   TUHR10TKB_KIDNEY  ACH-000459
20       KMRC1_KIDNEY  ACH-000684
21       SLR23_KIDNEY  ACH-000246
22       OSRC2_KIDNEY  ACH-000159
23      SNU349_KIDNEY  ACH-000907
24       SLR20_KIDNEY  ACH-000127
25     BFTC909_KIDNEY  ACH-000792
26    TUHR4TKB_KIDNEY  ACH-000495
27       CAKI2_KIDNEY  ACH-000234
28       SLR26_KIDNEY  ACH-000600
29      UOK101_KIDNEY  ACH-000262
30  PANC1005_PANCREAS  ACH-000060
31    HS766T_PANCREAS  ACH-000178
32     ASPC1_PANCREAS  ACH-000222
33       KP2_PANCREAS  ACH-000281
34       KP4_PANCREAS  ACH-000265
35  MIAPACA2_PANCREAS  ACH-000601
36    CFPAC1_PANCREAS  ACH-000138
37      PSN1_PANCREAS  ACH-000320
38     HUPT3_PANCREAS  ACH-000118

In [9]:
# Get list of cell lines that present are in:
# 1) Our starting pool of cell lines of interest
# 2) Also present in the dependency, mutation and expression data

cell_lines_of_interest = set(original_cell_lines['ModelID'])
dep_cell_lines = set(dep_data['ModelID'])
exp_cell_lines = set(exp_data['Unnamed: 0'])
mut_cell_lines = set(mut_data['ModelID'])

# Find the intersection of the 4 sets
valid_cell_lines = cell_lines_of_interest & dep_cell_lines & exp_cell_lines & mut_cell_lines

# Use this to select a subset of the original cell lines df
valid_cell_lines = original_cell_lines[original_cell_lines['ModelID'].isin(valid_cell_lines)]

valid_cell_lines

             CCLEName     ModelID
0      HCC1428_BREAST  ACH-000352
1      HCC1806_BREAST  ACH-000624
2      HCC1937_BREAST  ACH-000223
3     MDAMB231_BREAST  ACH-000768
4       HCC202_BREAST  ACH-000725
5        CAL51_BREAST  ACH-000856
6     MDAMB468_BREAST  ACH-000849
7         KPL1_BREAST  ACH-000028
8     MDAMB415_BREAST  ACH-000876
9     MDAMB157_BREAST  ACH-000621
10    MDAMB453_BREAST  ACH-000910
11     HCC1954_BREAST  ACH-000859
12      HS578T_BREAST  ACH-000148
13       ZR751_BREAST  ACH-000097
14       AU565_BREAST  ACH-000248
15    MDAMB436_BREAST  ACH-000573
16       EFM19_BREAST  ACH-000330
17     HCC1143_BREAST  ACH-000374
18     HCC1395_BREAST  ACH-000699
19   TUHR10TKB_KIDNEY  ACH-000459
20       KMRC1_KIDNEY  ACH-000684
22       OSRC2_KIDNEY  ACH-000159
23      SNU349_KIDNEY  ACH-000907
24       SLR20_KIDNEY  ACH-000127
25     BFTC909_KIDNEY  ACH-000792
26    TUHR4TKB_KIDNEY  ACH-000495
27       CAKI2_KIDNEY  ACH-000234
29      UOK101_KIDNEY  ACH-000262
30  PANC1005_PANCREAS  ACH-000060
31    HS766T_PANCREAS  ACH-000178
32     ASPC1_PANCREAS  ACH-000222
33       KP2_PANCREAS  ACH-000281
34       KP4_PANCREAS  ACH-000265
35  MIAPACA2_PANCREAS  ACH-000601
36    CFPAC1_PANCREAS  ACH-000138
37      PSN1_PANCREAS  ACH-000320
38     HUPT3_PANCREAS  ACH-000118

In [10]:
# Get list of genes that present are in:
# 1) The selected PPI data
# 2) Also present in the dependency and expression data 
# (should genes also be present in mutation data? No - if they are not in the muts file, it just means no mutations were found in those genes)

ppi_genes = set(list(ppi_data['PARTICIPANT_A']) + list(ppi_data['PARTICIPANT_B']))

dep_genes = dep_data.columns.map(lambda x: x.split(' ')[0])
dep_genes = set(dep_genes[1:]) # remove item corresponding to the first column

exp_genes = exp_data.columns.map(lambda x: x.split(' ')[0])
exp_genes = set(exp_genes[1:]) # remove item corresponding to the first column

# mut_genes = set(mut_data['HugoSymbol'].unique())

valid_genes = ppi_genes & dep_genes & exp_genes

print(len(valid_genes))
valid_genes

9723

{'CPD',
 'ZNF3',
 'CPOX',
 'STARD7',
 'CAPNS1',
 'RASGRP3',
 'SIGLEC5',
 'CASP2',
 'SPAG9',
 'FBF1',
 'FGFBP2',
 'HERC1',
 'PPFIA3',
 'DNAJC3',
 'SDC1',
 'NR1D2',
 'OR4N2',
 'LIMD1',
 'GCC2',
 'MAGOHB',
 'RPS15',
 'CACNA2D3',
 'RASA2',
 'TEK',
 'NOP58',
 'OR5H15',
 'ARL6IP5',
 'KIT',
 'PTGFR',
 'DCAF16',
 'SLC25A19',
 'ADAMTS17',
 'CPE',
 'GPR45',
 'COL1A2',
 'CIDEC',
 'PRKCI',
 'ACKR3',
 'RAB10',
 'SALL4',
 'TOR1B',
 'TP53RK',
 'GSK3B',
 'LUM',
 'CTSC',
 'MPRIP',
 'IL36A',
 'TNFRSF25',
 'ZNF662',
 'RIN1',
 'CDH3',
 'ATG16L1',
 'RAB15',
 'COL5A2',
 'HSPA5',
 'KCNK13',
 'SACM1L',
 'FGFR1',
 'NSDHL',
 'ATP1A4',
 'CXCL8',
 'ARNT2',
 'AK8',
 'DCUN1D3',
 'IFI6',
 'TNFSF10',
 'DDO',
 'ITGA4',
 'TNKS1BP1',
 'UGT2B17',
 'SNRPB2',
 'ARSH',
 'MIF',
 'SLC1A2',
 'DENND1B',
 'TBC1D16',
 'IDI2',
 'MT1F',
 'GNB3',
 'LIN7C',
 'VCPIP1',
 'MED24',
 'ATG4D',
 'NDE1',
 'ALAS2',
 'HDAC8',
 'IL17RB',
 'DCPS',
 'EIF4A2',
 'PTPRU',
 'ACADL',
 'COL5A1',
 'ARFGAP3',
 'COPG1',
 'MRS2',
 'WDR4',
 'SLC9C2',
 'GATA5',
 'RBMX',
 'LAS1L',
 'IZUMO2',
 'LMO2',
 'SLC1A1',
 'GPC4',
 'PSMC6',
 'SLC35C1',
 'ARV1',
 'CDX2',
 'SEC13',
 'RIOK1',
 'PGR',
 'CATSPER4',
 'HNRNPDL',
 'ZNF664',
 'DAPK1',
 'SMO',
 'FAU',
 'PIK3R4',
 'ACTG2',
 'DHFR2',
 'TNRC6A',
 'LSR',
 'VDAC3',
 'CHCHD3',
 'POLH',
 'GABBR2',
 'BPIFB2',
 'UGGT2',
 'ELMO2',
 'NUP50',
 'CYP1B1',
 'DTX1',
 'XYLB',
 'GPAT4',
 'PRKCQ',
 'APEX1',
 'RHCG',
 'AMACR',
 'SV2B',
 'UNC13B',
 'TIMELESS',
 'PAXIP1',
 'ZNF613',
 'AGTRAP',
 'SLC6A2',
 'GRM5',
 'ZNF830',
 'EPHA8',
 'ZNF599',
 'HSD3B7',
 'MYH14',
 'ANGPT1',
 'PIP5K1A',
 'TSPAN7',
 'CHRNA7',
 'SYCP2',
 'CDH11',
 'NUDT9',
 'HSD3B1',
 'ARHGAP20',
 'OR2M7',
 'ARHGAP26',
 'POLR2E',
 'ACOT1',
 'ALDH5A1',
 'NME7',
 'TGFB3',
 'CCNA1',
 'TBC1D10C',
 'DPH3',
 'GAS1',
 'SLC16A7',
 'SRSF3',
 'UBA7',
 'NR5A1',
 'HERC6',
 'SLC7A11',
 'VEGFC',
 'ADAM17',
 'ETHE1',
 'EDEM1',
 'CHN1',
 'CIAO1',
 'GPX5',
 'ZNF496',
 'CCL3L3',
 'MMP14',
 'EPHA2',
 'GEN1',
 'WAPL',
 'CEP192',
 'TAS2R4',
 'PCBP1',
 'CD52',
 'BAP1',
 'CAPN13',
 'MST1',
 'OR2W1',
 'OR4D2',
 'KCNQ3',
 'FN3K',
 'GCAT',
 'KCNMB4',
 'BCAR1',
 'TLR7',
 'TDRD1',
 'CDK5',
 'MYB',
 'REEP6',
 'HOMER2',
 'SLCO1C1',
 'RPL38',
 'AIP',
 'SNX9',
 'GPR17',
 'ETNPPL',
 'RANGAP1',
 'CHCHD10',
 'SGIP1',
 'EPHA1',
 'FBXL12',
 'MYO7A',
 'TEX101',
 'LRP10',
 'TYW3',
 'IDH3G',
 'ZNF28',
 'MRPL36',
 'MAG',
 'KLF15',
 'UBIAD1',
 'ZFAND6',
 'SPINK9',
 'BCL2L14',
 'ARHGEF39',
 'SCN2B',
 'BRPF3',
 'LALBA',
 'SLC1A5',
 'ZNF566',
 'HES5',
 'CHEK2',
 'CATSPER3',
 'RAB3GAP1',
 'ERCC1',
 'ATP8B3',
 'ZNF331',
 'CXCL11',
 'SMG6',
 'NGEF',
 'MYL12A',
 'ZNF641',
 'ACADM',
 'ZNF681',
 'OR2H1',
 'SNU13',
 'MRPL32',
 'EREG',
 'CACNG3',
 'KCNJ15',
 'ARPC1A',
 'ENPP7',
 'MRPL45',
 'POP1',
 'GEMIN8',
 'UGT2A3',
 'TPP1',
 'UTS2R',
 'ZNF688',
 'MLH1',
 'TRIP11',
 'ABRAXAS1',
 'HEXA',
 'UGT1A9',
 'EPHB3',
 'SAG',
 'DEFB135',
 'NRBF2',
 'PLXND1',
 'ALDH8A1',
 'MGMT',
 'UGT3A1',
 'TBCA',
 'CD40',
 'CLP1',
 'PITPNM3',
 'MFAP2',
 'HPGD',
 'E2F6',
 'RAB40C',
 'SNRPA',
 'SRSF9',
 'WIF1',
 'CDKAL1',
 'OR1D5',
 'SIRT6',
 'OR51B5',
 'GDNF',
 'ACTR1B',
 'CREB3L3',
 'NDUFS5',
 'OR1M1',
 'PRKACA',
 'ARHGAP1',
 'SDR9C7',
 'AK3',
 'SLC26A7',
 'CYC1',
 'SOX6',
 'OR2S2',
 'NUDT3',
 'USP17L13',
 'MAFG',
 'FGFR4',
 'GPSM1',
 'ZMYM2',
 'ZNF425',
 'GPCPD1',
 'SRP14',
 'ZNRF2',
 'TRIM11',
 'GGPS1',
 'IL23A',
 'EFTUD2',
 'UCK2',
 'ARHGEF37',
 'CANX',
 'RPS21',
 'KANSL1',
 'MMP16',
 'NDUFV1',
 'IL16',
 'POFUT2',
 'MEFV',
 'ULK3',
 'WBP4',
 'KIF15',
 'NRP1',
 'NAE1',
 'RAB6A',
 'RXRA',
 'ST8SIA3',
 'PHYKPL',
 'MMAB',
 'OR2F2',
 'PLA2G4E',
 'STAT2',
 'FBXW2',
 'PFKP',
 'OR2C1',
 'TNNI1',
 'FGF5',
 'RNF130',
 'STIP1',
 'CAMK2B',
 'PRPF19',
 'RPL21',
 'RNASEL',
 'TCF3',
 'UACA',
 'SND1',
 'DCSTAMP',
 'TET2',
 'TRIP10',
 'ARHGAP24',
 'MDC1',
 'PENK',
 'OR2Z1',
 'HSPD1',
 'LCN9',
 'MMP13',
 'TYRP1',
 'RABEP1',
 'STX16',
 'ARIH1',
 'APBA1',
 'GJC1',
 'HAUS3',
 'CNDP2',
 'GPC3',
 'TRMT61B',
 'OR5F1',
 'ARHGEF40',
 'ZNF75D',
 'DOHH',
 'EEFSEC',
 'LCE3A',
 'TUBGCP3',
 'TNFRSF18',
 'NPR1',
 'BCL2',
 'SNRPF',
 'DUSP3',
 'ERBB3',
 'TFAP2C',
 'EIF3G',
 'NTS',
 'TRIM13',
 'KLRB1',
 'THUMPD1',
 'CLCA4',
 'KRT20',
 'CKM',
 'DHDDS',
 'UBE2V1',
 'CBR1',
 'ERAP2',
 'KCNH1',
 'OR52B2',
 'PDYN',
 'GYS2',
 'CDKN1C',
 'GSTM2',
 'MED27',
 'TSPAN33',
 'SERINC3',
 'SLC2A3',
 'CCL21',
 'CASP10',
 'EPM2A',
 'LCE4A',
 'MEN1',
 'MT1A',
 'SIRPA',
 'RGS14',
 'STARD3NL',
 'FBXO41',
 'NPTN',
 'SMG8',
 'RNF182',
 'CPN1',
 'RAI1',
 'GNA14',
 'STRADA',
 'FOLH1',
 'DKC1',
 'TAPBP',
 'CAPN3',
 'RNASE3',
 'NXF1',
 'PABPC1',
 'NOSIP',
 'ARID1A',
 'DDX17',
 'DMD',
 'CFD',
 'MAGI2',
 'B3GALNT1',
 'GRHPR',
 'CHRNA9',
 'CCL28',
 'HMGCL',
 'MMP2',
 'KRT28',
 'NUP155',
 'KIF17',
 'RANBP1',
 'UBE2E3',
 'RHAG',
 'AVPR2',
 'OR52E4',
 'OR9K2',
 'KMT2D',
 'PCGF6',
 'CAND1',
 'FOXK2',
 'EDEM2',
 'GNG2',
 'GNAI1',
 'RAB11FIP3',
 'GNA13',
 'RSPO4',
 'TRPC4',
 'EXOSC5',
 'MED15',
 'PMPCA',
 'NDUFA10',
 'PBX1',
 'MTERF4',
 'CD3D',
 'MIP',
 'CDKN2A',
 'GATA6',
 'MEIS1',
 'TEX10',
 'BCAP31',
 'TAF6L',
 'FGF14',
 'RPS14',
 'CENPI',
 'HSD17B2',
 'IDO1',
 'PHF2',
 'RAB20',
 'KCNA3',
 'RBP2',
 'KANK1',
 'TUT4',
 'OR8B12',
 'PIK3CA',
 'CATSPER1',
 'FN3KRP',
 'PDGFD',
 'OXCT2',
 'NDUFS6',
 'PSMC4',
 'CORIN',
 'STK24',
 'PLEC',
 'UHRF2',
 'ALDOC',
 'FOSB',
 'KYAT1',
 'TNFSF13',
 'ZNF584',
 'ZNF143',
 'OR13H1',
 'CYP2B6',
 'DNAJB1',
 'ARHGEF28',
 'PPRC1',
 'CSTF2',
 'CTU1',
 'SCNN1D',
 'ABHD3',
 'SRGAP1',
 'ATP8A2',
 'NCOA1',
 'RAB39B',
 'PMS2',
 'PRMT6',
 'RPS18',
 'MAPK12',
 'CLCN1',
 'FZD5',
 'OR10A3',
 'ADAM10',
 'NEK2',
 'SLC9A4',
 'GHRL',
 'PLEKHA3',
 'CXCL1',
 'PARD6G',
 'FPR2',
 'FGF10',
 'PNMT',
 'SUMO1',
 'NAPA',
 'OTC',
 'KRT77',
 'HPGDS',
 'E2F1',
 'RIMS1',
 'VPS25',
 'OR2M2',
 'BTRC',
 'PHB2',
 'TNFRSF4',
 'NDUFAB1',
 'CUL4B',
 'PDHB',
 'CDIPT',
 'ZNF616',
 'NMNAT2',
 'DUSP7',
 'PANK1',
 'ZDHHC8',
 'COMMD3',
 'SCN2A',
 'WWOX',
 'DMGDH',
 'IFT57',
 'MLEC',
 'GPAT2',
 'TPH1',
 'CD28',
 'SUMF1',
 'CHRM4',
 'TMEM126B',
 'PRKAR2A',
 'PDZD3',
 'CADM1',
 'COX19',
 'CNOT2',
 'FBP1',
 'PDE3B',
 'OR7A5',
 'GABRG2',
 'SLC25A11',
 'ATXN7',
 'HCN4',
 'DEFB126',
 'LRP5',
 'MUC6',
 'XBP1',
 'HMGCLL1',
 'CEBPB',
 'AMH',
 'CD209',
 'DAXX',
 'GCFC2',
 'GUCY2C',
 'OVGP1',
 'ZNF749',
 'ADRA1D',
 'UGT1A4',
 'CYB5R3',
 'NADK',
 'SERINC4',
 'VEGFD',
 'PGS1',
 'EP400',
 'HIRA',
 'MRPL22',
 'CES1',
 'B3GNT4',
 'COL10A1',
 'HSPA9',
 'POU4F1',
 'IL2RG',
 'NECAP1',
 'PPP1R3C',
 'DYRK1A',
 'SEC24A',
 'TAL1',
 'MGAT3',
 'SCGB3A2',
 'SUOX',
 'HDLBP',
 'UQCR10',
 'LRRC8D',
 'AMFR',
 'XRCC2',
 'CD1A',
 'IMPDH2',
 'GUCY2F',
 'OR10G4',
 'ADAMTSL5',
 'CLEC2B',
 'TAS2R3',
 'BMP1',
 'GABRA5',
 'ANXA1',
 'HEXB',
 'STAT5A',
 'RBBP4',
 'NID1',
 'PMAIP1',
 'DLG1',
 'HPX',
 'FPGS',
 'QPRT',
 'PLA2G2D',
 'TNIP3',
 'KLK5',
 'MYH8',
 'PDE7B',
 'PTPRF',
 'GRM2',
 'TNFRSF10C',
 'RASA4',
 'TAF4',
 'ZNF429',
 'NLRC5',
 'GTF2E1',
 'MYO6',
 'RAET1E',
 'CSK',
 'ACTR3',
 'SPG7',
 'PLCD1',
 'RPL39',
 'WDR43',
 'CSPG5',
 'ACOX3',
 'KRT31',
 'ASAP1',
 'LILRB2',
 'AKAP1',
 'GUCY1B1',
 'SLC2A12',
 'MAPK10',
 'CCAR1',
 'CATSPERG',
 'PRPF6',
 'ABCB6',
 'MMP11',
 'COPZ1',
 'GSC',
 'MAP2K4',
 'PSMB1',
 'XRCC6',
 'NUP43',
 'PIGT',
 'AKR1A1',
 'WNT5A',
 'RABEPK',
 'CDSN',
 'WDR5',
 'ITGB3',
 'SYK',
 'RAB12',
 'EPO',
 'TTLL4',
 'LHCGR',
 'AVPR1A',
 'OR51I1',
 'SLC25A26',
 'CEBPG',
 'SUMO3',
 'CEACAM8',
 'CD226',
 'TAAR2',
 'TYK2',
 'ZNF23',
 'MARCKS',
 'CR2',
 'ORC4',
 'AARS2',
 'MGAT2',
 'GSTA3',
 'GMPR2',
 'IL24',
 'OR9I1',
 'CCL4',
 'ABCB11',
 'DUSP9',
 'SLC36A1',
 'DSE',
 'OAZ2',
 'ABCG1',
 'ZNF626',
 'NRTN',
 'RAB5A',
 'POU2F1',
 'CNGA4',
 'PEA15',
 'SLC4A3',
 'PI4K2A',
 'AATF',
 'DDIT3',
 'RIOK2',
 'LGI3',
 'SH3D19',
 'OR51V1',
 'SRR',
 'PRPF4',
 'NMBR',
 'SPIDR',
 'DAD1',
 'AGXT2',
 'ARPC3',
 'SORT1',
 'GRIA1',
 'PLA2R1',
 'MSI1',
 'RIC1',
 'ACO2',
 'TADA2B',
 'HAS2',
 'DDX20',
 'MBD5',
 'ALG10',
 'ZWILCH',
 'MSRA',
 'NFKBIB',
 'OR7D4',
 'FAR1',
 'RFT1',
 'TPD52L1',
 'IGLL1',
 'DEFB134',
 'ELL',
 'KLHL9',
 'CD2AP',
 'GRAP2',
 'MTMR9',
 'PDS5A',
 'ORMDL3',
 'GOLIM4',
 'B3GALNT2',
 'ZNF778',
 'MFAP5',
 'SMARCB1',
 'PDE8A',
 'FXYD4',
 'NPFFR2',
 'RPA1',
 'GLE1',
 'SDCCAG8',
 'HDAC2',
 'CHGA',
 'ATG10',
 'RFFL',
 'WFS1',
 'LY6G6C',
 'KIR2DL1',
 'STX6',
 'GPR143',
 'HTR2B',
 'OR1J1',
 'VCP',
 'LEFTY2',
 'MLST8',
 'RAD23A',
 'NCF1',
 'VEGFA',
 'PRDX1',
 'SIK1',
 'JAM3',
 'TRIM56',
 'PDE1A',
 'ACTL6B',
 'DCUN1D2',
 'OR5B12',
 'OR12D3',
 'PLCB4',
 'PF4',
 'CHCHD1',
 'SLC24A4',
 'TPST2',
 'EHHADH',
 'DDOST',
 'SRI',
 'SMS',
 'NCBP2',
 'GRIN2A',
 'EXOSC4',
 'SLC5A11',
 'TIMM17B',
 'ARTN',
 'IL1RAPL2',
 'GREM2',
 'IHH',
 'FUZ',
 'DLST',
 'PDHA2',
 'UTP6',
 'PTPN14',
 'KCNH6',
 'GSN',
 'SLC6A11',
 'RNF216',
 'COPS5',
 'EEF1D',
 'GSTK1',
 'SF3B5',
 'ACACA',
 'SOCS3',
 'VANGL2',
 'CYP3A4',
 'HMGCR',
 'ARHGDIB',
 'MADD',
 'PKN3',
 'BBS7',
 'ESPL1',
 'PPP6R3',
 'HLA-DMA',
 'EAF1',
 'GDA',
 'OR5AP2',
 'SMARCC2',
 'RPLP2',
 'COMMD5',
 'GLS',
 'WDR19',
 'GUCY1A2',
 'ZNF585A',
 'GCK',
 'SPTLC1',
 'GGCT',
 'THOC5',
 'RPL14',
 'PIDD1',
 'SLC6A8',
 'CYSLTR2',
 'RNF152',
 'MSH4',
 'COL11A1',
 'WDR48',
 'CAMKMT',
 'HMOX1',
 'ART1',
 'PTPN23',
 'SEC24B',
 'LCN15',
 'PPCDC',
 'MMADHC',
 'ACP5',
 'EPC1',
 'EPHA7',
 'AIMP2',
 'PTCH2',
 'AEBP2',
 'RFNG',
 'SCN1A',
 'KCNC2',
 'NDUFB3',
 'AGRP',
 'ODF2',
 'DAGLB',
 'AKT1',
 'KLK2',
 'KCNMB1',
 'TNFRSF6B',
 'LIG4',
 'TTLL12',
 'ARSD',
 'CTPS1',
 'RETSAT',
 'WAC',
 'KCNJ2',
 'ZNF267',
 'PPFIBP2',
 'LAMTOR2',
 'AKAP5',
 'EIF3L',
 'PAX3',
 'GLYAT',
 'PIGS',
 'AS3MT',
 'FUT4',
 'EMD',
 'PIP4K2B',
 'ENTPD8',
 'NPFF',
 'CD2',
 'PAH',
 'REPS1',
 'SST',
 'ACTN1',
 'GTF3C1',
 'SLC5A9',
 'INPP5J',
 'MRPS12',
 'ARHGEF26',
 'NANP',
 'TOR1A',
 'OR52N4',
 'KIF4A',
 'DVL1',
 'STX10',
 'ELOVL3',
 'RBP1',
 'PLD1',
 'RAB2A',
 'DGAT2L6',
 'OR11A1',
 'GALNT1',
 'PNPLA5',
 'ALG8',
 'ZNF317',
 'ELP5',
 'NRXN2',
 'ABHD10',
 'PAX4',
 'DNAJA2',
 'EED',
 'UGT2B4',
 'KIF12',
 'NCK1',
 'DIO3',
 'SNCB',
 'SBSPON',
 'ODC1',
 'COL6A2',
 'PIP5K1B',
 'LHX4',
 'AURKB',
 'ZNF559',
 'ARHGAP5',
 'PPP2R5D',
 'COL9A2',
 'OR52E6',
 'GRK2',
 'A4GNT',
 'ALPP',
 'EPHA5',
 'VPS52',
 'STARD4',
 'ZNF552',
 'ZNF624',
 'ADAM20',
 'PIGC',
 'TNFSF12',
 'SUPT7L',
 'MED20',
 'MSLN',
 'DEFB129',
 'DRD5',
 'GLP2R',
 'ANO3',
 'FARSA',
 'SLCO2B1',
 'KCNA5',
 'USP4',
 'ASXL1',
 'CD300LB',
 'HERC5',
 ...}

In [11]:
# These need to be lists to be used for col headers and row indexes
valid_genes_list = list(valid_genes)
valid_cell_lines_list = list(valid_cell_lines['ModelID'])

# Build a one matrix with the dimensions of the lists above 
one_matrix = np.ones((len(valid_genes_list), len(valid_cell_lines_list)))

# Troubleshooting
print("Length of valid_genes:", len(valid_genes_list))
print("Length of valid_cell_lines:", len(valid_cell_lines_list))
print("Shape of the one matrix:", one_matrix.shape)
print("Type of valid_genes:", type(valid_genes_list))
print("Type of valid_cell_lines:", type(valid_cell_lines_list))

Length of valid_genes: 9723
Length of valid_cell_lines: 37
Shape of the one matrix: (9723, 37)
Type of valid_genes: <class 'list'>
Type of valid_cell_lines: <class 'list'>

In [12]:
base_weights = pd.DataFrame(one_matrix, index=valid_genes_list, columns=valid_cell_lines_list)

In [13]:
base_weights

,ACH-000352,ACH-000624,ACH-000223,ACH-000768,ACH-000725,ACH-000856,ACH-000849,ACH-000028,ACH-000876,ACH-000621,...,ACH-000262,ACH-000060,ACH-000178,ACH-000222,ACH-000281,ACH-000265,ACH-000601,ACH-000138,ACH-000320,ACH-000118
CPD,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
ZNF3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
CPOX,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
STARD7,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
CAPNS1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SMAD1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
SUMF2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
SULT6B1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
CEACAM5,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
SECISBP2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [14]:
base_weights.to_csv(data_path + 'dependant\\processed_weights\\base_weights_reactome_original_lines.csv')

In [15]:
# Get subset of mutation data that applies to our valid genes and cell lines only
mutation_df = mut_data[mut_data['ModelID'].isin(valid_cell_lines_list)]
mutation_df = mutation_df[mut_data['HugoSymbol'].isin(valid_genes_list)]

mutation_df

C:\Users\dan\AppData\Local\Temp\ipykernel_11716\2966003349.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  mutation_df = mutation_df[mut_data['HugoSymbol'].isin(valid_genes_list)]

,Chrom,Pos,Ref,Alt,AF,RefCount,AltCount,GT,PS,VariantType,...,RevelScore,Funseq2Score,PharmgkbID,DidaID,DidaName,GwasDisease,GwasPmID,GTexGene,ModelID,EntrezGeneID
29669,chr1,951180,G,A,0.390,26,15,0/1,NaN,SNP,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,ACH-000856,26155.0
29671,chr1,1046671,C,T,0.250,30,8,0/1,NaN,SNP,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,ACH-000856,375790.0
29673,chr1,2412394,C,T,0.391,14,8,0/1,NaN,SNP,...,0.416,3.0,NaN,NaN,NaN,NaN,NaN,NaN,ACH-000856,5192.0
29674,chr1,2512914,G,T,0.488,21,19,0/1,NaN,SNP,...,0.436,1.0,NaN,NaN,NaN,NaN,NaN,NaN,ACH-000856,55229.0
29675,chr1,2561696,C,T,0.320,24,12,0/1,NaN,SNP,...,0.071,2.0,NaN,NaN,NaN,NaN,NaN,NaN,ACH-000856,8764.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296624,chr22,42126611,C,G,0.984,0,72,1|1,NaN,SNP,...,NaN,NaN,PA166156076,NaN,NaN,NaN,NaN,NaN,ACH-000234,1565.0
1296625,chr22,42129130,C,G,0.968,1,71,1|1,NaN,SNP,...,NaN,NaN,PA166156061,NaN,NaN,NaN,NaN,NaN,ACH-000234,1565.0
1296627,chrX,41136962,A,T,0.963,1,57,1|1,NaN,SNP,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,ACH-000234,8239.0
1296628,chrX,51896717,G,A,0.962,1,54,1|1,NaN,SNP,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,ACH-000234,9500.0
1296633,chrX,153954753,T,C,0.857,0,6,0/1,NaN,SNP,...,0.006,2.0,NaN,NaN,NaN,NaN,NaN,NaN,ACH-000234,3054.0

In [16]:
# First we separate out the badly pathogenic mutations - these are assumed to result in loss of function
pathogenic = ('FRAME_SHIFT_DEL', 'FRAME_SHIFT_INS', 'NONSENSE', 'NONSTOP', 'START_CODON_INS')

##### NOTE ######
# These are the variations that were considered pathogenic on the original version
# pathogenic = ['Frame_Shift_Del', 'Frame_Shift_Ins','Nonsense_Mutation','Nonstop_Mutation','Stop_Codon_Del']

# I will keep this the same for now (note no 'Stop_Codon_Del' class in the new data - presumably because it's the same a NONSTOP) but note:

# IN_FRAME_DEL - this is likely damaging but could be LOF or GOF -  select which depending on whether its onc, tsg or kinase?
# IN_FRAME_INS - as above
# START_CODON_INS - this is likely to prevent the translation of the protein, so LOF?
# START_CODON_SNP - this may prevent translation if the SNP switched the codon from methianine to another amino acid

# Filter mut_df to only include rows where the variant classification is in the pathogenic list defined above
pathogenic_mutations = mutation_df.loc[mutation_df['VariantInfo'].isin(pathogenic)]

print(len(pathogenic_mutations))
pathogenic_mutations.head()

691

,Chrom,Pos,Ref,Alt,AF,RefCount,AltCount,GT,PS,VariantType,...,RevelScore,Funseq2Score,PharmgkbID,DidaID,DidaName,GwasDisease,GwasPmID,GTexGene,ModelID,EntrezGeneID
29678,chr1,6197724,CT,C,0.534,13,15,0/1,NaN,DEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACH-000856,6146.0
29699,chr1,20633885,GA,G,0.462,13,11,0/1,NaN,DEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACH-000856,65018.0
29704,chr1,26773456,C,T,0.389,21,13,0/1,NaN,SNP,...,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,ACH-000856,8289.0
29705,chr1,26779439,TG,T,0.590,15,23,0/1,NaN,DEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACH-000856,8289.0
29709,chr1,38019345,GA,G,0.448,17,13,0/1,NaN,DEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACH-000856,51118.0

In [17]:
# Start a lof_mutations df with these very pathogenic mutations 
lof_mutations = pathogenic_mutations[['ModelID', 'HugoSymbol']]
lof_mutations

            ModelID HugoSymbol
29678    ACH-000856      RPL22
29699    ACH-000856      PINK1
29704    ACH-000856     ARID1A
29705    ACH-000856     ARID1A
29709    ACH-000856      UTP11
...             ...        ...
1296363  ACH-000234      GPAT3
1296376  ACH-000234      JADE2
1296383  ACH-000234      RUFY1
1296548  ACH-000234      ANPEP
1296592  ACH-000234     ZNF440

[691 rows x 2 columns]

In [18]:
# Open the results from the missense mutation analysis
missense_predictions = pd.read_csv(data_path + 'dependant\\processed_mutations\\alphamissense_pathogenic_predictions.csv')
missense_predictions

,Chrom,Pos,Ref,Alt,AF,RefCount,AltCount,GT,PS,VariantType,...,DidaName,GwasDisease,GwasPmID,GTexGene,ModelID,EntrezGeneID,am_pathogenicity,am_class,am_source,lof_gof
0,chr1,963249,G,A,0.303,22,9,0/1,NaN,SNP,...,NaN,NaN,NaN,NaN,ACH-000856,339451.0,0.9941,likely_pathogenic,primary,lof
1,chr1,2512914,G,T,0.488,21,19,0/1,NaN,SNP,...,NaN,NaN,NaN,NaN,ACH-000856,55229.0,0.9989,likely_pathogenic,primary,lof
2,chr1,6588134,G,A,0.457,19,16,0/1,NaN,SNP,...,NaN,NaN,NaN,NaN,ACH-000856,3104.0,0.8938,likely_pathogenic,primary,lof
3,chr1,11715133,C,A,0.500,20,19,0/1,NaN,SNP,...,NaN,NaN,NaN,NaN,ACH-000856,374946.0,0.5953,likely_pathogenic,primary,lof
4,chr1,13225429,A,G,0.579,15,21,0|1,13225408.0,SNP,...,NaN,NaN,NaN,NaN,ACH-000856,391003.0,0.5949,likely_pathogenic,primary,lof
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2389,chr14,67352948,C,T,0.966,7,245,1|1,NaN,SNP,...,NaN,NaN,NaN,NaN,ACH-000234,51382.0,0.7115,likely_pathogenic,isoform,lof
2390,chr15,59084193,C,T,0.190,129,31,0/1,NaN,SNP,...,NaN,NaN,NaN,NaN,ACH-000234,54778.0,0.9261,likely_pathogenic,isoform,lof
2391,chr15,67187484,G,A,0.560,67,86,0/1,NaN,SNP,...,NaN,NaN,NaN,NaN,ACH-000234,4088.0,0.7934,likely_pathogenic,isoform,lof
2392,chr16,66909296,C,T,0.677,23,52,0/1,NaN,SNP,...,NaN,NaN,NaN,NaN,ACH-000234,1014.0,0.7968,likely_pathogenic,isoform,lof
2393,chr17,5105919,G,A,0.477,55,49,0/1,NaN,SNP,...,NaN,NaN,NaN,NaN,ACH-000234,7775.0,0.9664,likely_pathogenic,isoform,lof

In [19]:
# Filter for valid genes and cell lines only
missense_predictions = missense_predictions[missense_predictions['ModelID'].isin(valid_cell_lines_list)]
missense_predictions = missense_predictions[missense_predictions['HugoSymbol'].isin(valid_genes_list)]

In [20]:
missense_predictions['lof_gof'].value_counts()

lof    1283
gof      89
Name: lof_gof, dtype: int64

In [21]:
missense_predictions_lof = missense_predictions[missense_predictions['lof_gof']=='lof'][['ModelID', 'HugoSymbol']]
missense_predictions_gof = missense_predictions[missense_predictions['lof_gof']=='gof'][['ModelID', 'HugoSymbol']]

In [22]:
missense_predictions_lof

         ModelID HugoSymbol
1     ACH-000856      PANK4
5     ACH-000856    COL16A1
6     ACH-000856       CPT2
8     ACH-000856    COL24A1
9     ACH-000856      KCND3
...          ...        ...
2387  ACH-000234    CACNA1C
2388  ACH-000234      DOCK9
2389  ACH-000234    ATP6V1D
2390  ACH-000234     RNF111
2391  ACH-000234      SMAD3

[1283 rows x 2 columns]

In [23]:
missense_predictions_gof

         ModelID HugoSymbol
7     ACH-000856     PRKAA2
24    ACH-000856     PIK3CA
121   ACH-000601    RPS6KA6
159   ACH-000725       RAF1
161   ACH-000725     PIK3CA
...          ...        ...
2147  ACH-000262       RAC1
2156  ACH-000876       PAX3
2318  ACH-000118        ILK
2329  ACH-000118      GSK3A
2348  ACH-000320       VRK3

[89 rows x 2 columns]

In [24]:
lof_mutations = pd.concat([lof_mutations, missense_predictions_lof])
lof_mutations = lof_mutations.drop_duplicates()
print(len(lof_mutations))
lof_mutations

1929

          ModelID HugoSymbol
29678  ACH-000856      RPL22
29699  ACH-000856      PINK1
29704  ACH-000856     ARID1A
29709  ACH-000856      UTP11
29723  ACH-000856       JAK1
...           ...        ...
2387   ACH-000234    CACNA1C
2388   ACH-000234      DOCK9
2389   ACH-000234    ATP6V1D
2390   ACH-000234     RNF111
2391   ACH-000234      SMAD3

[1929 rows x 2 columns]

In [25]:
gof_mutations = missense_predictions_gof
gof_mutations = gof_mutations.drop_duplicates()
print(len(gof_mutations ))
gof_mutations

87

         ModelID HugoSymbol
7     ACH-000856     PRKAA2
24    ACH-000856     PIK3CA
121   ACH-000601    RPS6KA6
159   ACH-000725       RAF1
161   ACH-000725     PIK3CA
...          ...        ...
2147  ACH-000262       RAC1
2156  ACH-000876       PAX3
2318  ACH-000118        ILK
2329  ACH-000118      GSK3A
2348  ACH-000320       VRK3

[87 rows x 2 columns]

In [54]:
# Loading the base weights ones matrix
# This can be loaded from the file, or you can use the base_weights dataframe created earlier
#lof_gof_matrix = pd.read_csv(data_path + 'dependant/processed_weights/base_weights_reactome_original_lines.csv', index_col=0)
lof_gof_matrix = base_weights

# Updating the base weights matrix based on the gof_mutations file
# Set matrix values to 10 where they correspond to rows in gof_mutations
for index, row in gof_mutations.iterrows():
    model_id = row['ModelID']
    hugo_symbol = row['HugoSymbol']
    if model_id in lof_gof_matrix.columns and hugo_symbol in lof_gof_matrix.index:
        lof_gof_matrix.at[hugo_symbol, model_id] = 10

# Now do the same with the lof_mutations dataframe
# Set matrix values to 0 where they correspond to rows in lof_mutations
for index, row in lof_mutations.iterrows():
    model_id = row['ModelID']
    hugo_symbol = row['HugoSymbol']
    if model_id in lof_gof_matrix.columns and hugo_symbol in lof_gof_matrix.index:
        lof_gof_matrix.at[hugo_symbol, model_id] = 0

lof_gof_matrix# Displaying the first few rows of the updated matrix

,ACH-000352,ACH-000624,ACH-000223,ACH-000768,ACH-000725,ACH-000856,ACH-000849,ACH-000028,ACH-000876,ACH-000621,...,ACH-000262,ACH-000060,ACH-000178,ACH-000222,ACH-000281,ACH-000265,ACH-000601,ACH-000138,ACH-000320,ACH-000118
CPD,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
ZNF3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
CPOX,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
STARD7,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
CAPNS1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SMAD1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
SUMF2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
SULT6B1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
CEACAM5,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
SECISBP2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [27]:
# Check how many tens and ones in the matrix. Should match the number of lofs and gofs

# Load your matrix DataFrame
# For example: your_matrix = pd.read_csv('path_to_your_matrix.csv')
# Replace 'your_matrix' with your actual DataFrame variable

# Counting the number of values in the matrix that are equal to 10 and 0
num_values_equal_to_10 = (lof_gof_matrix == 10).sum().sum()
num_values_equal_to_0 = (lof_gof_matrix == 0).sum().sum()

print("Number of values equal to 10:", num_values_equal_to_10)
print("Number of values equal to 0:", num_values_equal_to_0)

Number of values equal to 10: 87
Number of values equal to 0: 1929

# Process expression data matrix

In [59]:
# Load your matrix. Assuming it's already loaded into a DataFrame named 'matrix'
# If it needs to be loaded from a file: matrix = pd.read_csv('your_matrix_file.csv')
 
# Transpose the DataFrame
exp_transposed = exp_data.T

# Set the first row as the new headers
exp_transposed.columns = exp_transposed.iloc[0]

# Drop the first row
exp_transposed = exp_transposed[1:]

# Display the first few rows to check
exp_transposed.head()

# Get rid of everything after the space in the index (format is SYMBOL (Entrez ID))
exp_transposed.index = exp_transposed.index.map(lambda x: x.split(' ')[0])

# Remove the name of the index
exp_transposed.index.name = None

print(exp_transposed.index.name)

# Filter matrix2 to have the same rows and columns as matrix1
common_rows = lof_gof_matrix.index.intersection(exp_transposed.index)
common_columns = lof_gof_matrix.columns.intersection(exp_transposed.columns)

filtered_matrix = exp_transposed.loc[common_rows, common_columns]

# Reorder rows and columns in filtered_matrix2 to match matrix1
expression_matrix = filtered_matrix.reindex(index=lof_gof_matrix.index, columns=lof_gof_matrix.columns)

expression_matrix

None

,ACH-000352,ACH-000624,ACH-000223,ACH-000768,ACH-000725,ACH-000856,ACH-000849,ACH-000028,ACH-000876,ACH-000621,...,ACH-000262,ACH-000060,ACH-000178,ACH-000222,ACH-000281,ACH-000265,ACH-000601,ACH-000138,ACH-000320,ACH-000118
CPD,3.545968,3.799087,5.188243,5.316508,6.791814,5.57501,4.127633,2.056584,3.371559,3.040892,...,5.157448,3.792855,4.047887,4.8885,4.712045,4.164304,2.841973,5.200457,5.445925,3.148934
ZNF3,4.6094,3.247928,3.783457,3.889474,5.955127,5.002252,4.269033,4.902074,4.544733,5.121015,...,4.640968,5.1152,5.018367,4.388878,3.960697,5.094236,3.976364,4.432959,3.734439,4.135042
CPOX,2.475085,4.242603,3.408712,6.972003,4.025029,4.506526,4.493775,2.863938,3.263034,3.509696,...,5.784242,4.148121,4.42156,2.99458,3.648465,4.177918,3.726831,4.152995,5.292414,3.969012
STARD7,7.104966,4.984589,6.185074,6.094447,6.514122,6.506684,6.739443,6.345538,5.94439,5.8107,...,5.83289,6.460579,6.011675,6.269594,5.679199,6.333782,6.486393,5.558574,5.636335,6.054631
CAPNS1,8.832985,6.040673,9.102028,9.422611,9.175075,8.961479,9.051345,8.832036,9.305264,9.606812,...,9.004838,9.358519,8.796267,8.493695,7.98715,8.616439,8.860466,8.129438,8.341052,7.746178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SMAD1,3.751678,2.792855,3.870858,1.910733,3.969933,3.659925,4.874797,2.91265,3.181103,3.051372,...,2.702658,2.903038,3.559492,4.215679,3.926948,4.088311,2.611172,3.468583,3.288359,2.99458
SUMF2,5.892148,5.397803,6.69808,7.248307,7.128665,7.73064,8.468502,7.046033,6.06415,7.236684,...,6.995485,7.143128,6.96035,7.675534,6.595593,6.827184,6.450881,6.582405,5.584963,5.8387
SULT6B1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.028569,0.0,0.0,0.0
CEACAM5,1.111031,0.485427,1.632268,0.226509,0.389567,0.250962,0.367371,1.786596,2.849999,0.163499,...,0.028569,0.084064,1.124328,9.38528,1.974529,0.15056,0.201634,4.859473,1.790772,1.263034
SECISBP2,4.400538,3.446256,4.375735,4.268285,5.286881,5.740928,4.320485,4.811985,4.464668,5.049195,...,4.561326,4.919817,4.589164,4.869871,4.400538,4.714795,3.783457,3.837943,4.683135,4.32625

In [60]:
# Check how many null values in the matrix. Shouldn't be any

# Load your matrix DataFrame
# For example: your_matrix = pd.read_csv('path_to_your_matrix.csv')
# Replace 'your_matrix' with your actual DataFrame variable

# Counting the number of values in the matrix that are equal to 10 and 0
num_null_values = (expression_matrix == np.nan).sum().sum()

print("Number of null values:", num_null_values)

Number of null values: 0

In [61]:
# Check that the expression matrix and lof_gof_matrix have identical rows and columns
# This checks that the columns and row names match, and are in the same order

# Check if row indices match
rows_match = lof_gof_matrix.index.equals(expression_matrix.index)

# Check if column names match
columns_match = lof_gof_matrix.columns.equals(expression_matrix.columns)

if rows_match and columns_match:
    print("Both rows and columns match.")
else:
    print("Rows match:", rows_match)
    print("Columns match:", columns_match)

Both rows and columns match.

In [62]:
weights_matrix = expression_matrix * lof_gof_matrix
weights_matrix

,ACH-000352,ACH-000624,ACH-000223,ACH-000768,ACH-000725,ACH-000856,ACH-000849,ACH-000028,ACH-000876,ACH-000621,...,ACH-000262,ACH-000060,ACH-000178,ACH-000222,ACH-000281,ACH-000265,ACH-000601,ACH-000138,ACH-000320,ACH-000118
CPD,3.545968,3.799087,5.188243,5.316508,6.791814,5.57501,4.127633,2.056584,3.371559,3.040892,...,5.157448,3.792855,4.047887,4.8885,4.712045,4.164304,2.841973,5.200457,5.445925,3.148934
ZNF3,4.6094,3.247928,3.783457,3.889474,5.955127,5.002252,4.269033,4.902074,4.544733,5.121015,...,4.640968,5.1152,5.018367,4.388878,3.960697,5.094236,3.976364,4.432959,3.734439,4.135042
CPOX,2.475085,4.242603,3.408712,6.972003,4.025029,4.506526,4.493775,2.863938,3.263034,3.509696,...,5.784242,4.148121,4.42156,2.99458,3.648465,4.177918,3.726831,4.152995,5.292414,3.969012
STARD7,7.104966,4.984589,6.185074,6.094447,6.514122,6.506684,6.739443,6.345538,5.94439,5.8107,...,5.83289,6.460579,6.011675,6.269594,5.679199,6.333782,6.486393,5.558574,5.636335,6.054631
CAPNS1,8.832985,6.040673,9.102028,9.422611,9.175075,8.961479,9.051345,8.832036,9.305264,9.606812,...,9.004838,9.358519,8.796267,8.493695,7.98715,8.616439,8.860466,8.129438,8.341052,7.746178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SMAD1,3.751678,2.792855,3.870858,1.910733,3.969933,3.659925,4.874797,2.91265,3.181103,3.051372,...,2.702658,2.903038,3.559492,4.215679,3.926948,4.088311,2.611172,3.468583,3.288359,2.99458
SUMF2,5.892148,5.397803,6.69808,7.248307,7.128665,7.73064,8.468502,7.046033,6.06415,7.236684,...,6.995485,7.143128,6.96035,7.675534,6.595593,6.827184,6.450881,6.582405,5.584963,5.8387
SULT6B1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.028569,0.0,0.0,0.0
CEACAM5,1.111031,0.485427,1.632268,0.226509,0.389567,0.250962,0.367371,1.786596,2.849999,0.163499,...,0.028569,0.084064,1.124328,9.38528,1.974529,0.15056,0.201634,4.859473,1.790772,1.263034
SECISBP2,4.400538,3.446256,4.375735,4.268285,5.286881,5.740928,4.320485,4.811985,4.464668,5.049195,...,4.561326,4.919817,4.589164,4.869871,4.400538,4.714795,3.783457,3.837943,4.683135,4.32625

In [66]:
# Check a gain of function mutation to ensure the expression value has been multiplied by 10
# 'RPS6KA6', 'ACH-000601' is GOF
print(expression_matrix.loc['RPS6KA6', 'ACH-000601'])
print(weights_matrix.loc['RPS6KA6', 'ACH-000601'])

0.0285691521967709
0.285691521967709

In [67]:
# Check a loss of function mutation to ensure the expression value is set to 0
# PINK1, ACH-000856 is LOF
print(expression_matrix.loc['PINK1', 'ACH-000856'])
print(weights_matrix.loc['PINK1', 'ACH-000856'])

3.5372960670908418
0.0