In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
#os.getcwd()

# Linux workstation
#data_path = '/home/db600/phd/data/'

# Laptop
data_path = 'C:\\Users\\dan\\Documents\\phd\\data\\'

os.listdir(data_path)

['biomart', 'depmap', 'missing_gene_names.csv', 'pathway_commons', 'string']

In [4]:
os.listdir(data_path + '/string/')

['9606.protein.links.detailed.v10.txt',
 '9606.protein.links.detailed.v11.0.txt',
 '9606.protein.links.detailed.v12.0.txt',
 '9606.protein.links.full.v11.0.txt',
 '9606.protein.links.full.v12.0.txt']

In [10]:
string_data = pd.read_csv(data_path + '/string/9606.protein.links.detailed.v10.txt', sep=" ")
string_data.head()

,protein1,protein2,neighborhood,fusion,cooccurence,coexpression,experimental,database,textmining,combined_score
0,9606.ENSP00000000233,9606.ENSP00000003084,0,0,0,0,0,0,150,150
1,9606.ENSP00000000233,9606.ENSP00000003100,0,0,0,0,84,0,178,215
2,9606.ENSP00000000233,9606.ENSP00000005257,0,0,0,0,66,0,202,223
3,9606.ENSP00000000233,9606.ENSP00000005340,0,0,0,0,166,0,73,193
4,9606.ENSP00000000233,9606.ENSP00000006101,0,0,0,112,0,0,369,415

In [24]:
string_data[string_data['protein1']=='9606.ENSP00000000233']

,protein1,protein2,neighborhood,fusion,cooccurence,coexpression,experimental,database,textmining,combined_score
0,9606.ENSP00000000233,9606.ENSP00000003084,0,0,0,0,0,0,150,150
1,9606.ENSP00000000233,9606.ENSP00000003100,0,0,0,0,84,0,178,215
2,9606.ENSP00000000233,9606.ENSP00000005257,0,0,0,0,66,0,202,223
3,9606.ENSP00000000233,9606.ENSP00000005340,0,0,0,0,166,0,73,193
4,9606.ENSP00000000233,9606.ENSP00000006101,0,0,0,112,0,0,369,415
...,...,...,...,...,...,...,...,...,...,...
1692,9606.ENSP00000000233,9606.ENSP00000469872,0,0,0,0,0,0,374,374
1693,9606.ENSP00000000233,9606.ENSP00000469958,0,0,0,0,98,0,184,233
1694,9606.ENSP00000000233,9606.ENSP00000470087,0,0,0,0,113,0,92,160
1695,9606.ENSP00000000233,9606.ENSP00000470383,0,0,0,0,94,0,130,178
1696,9606.ENSP00000000233,9606.ENSP00000473036,0,0,0,77,0,0,167,198

In [22]:
human_id_map = pd.read_csv(data_path + '/biomart/human_id_map.txt', sep="\t")
human_id_map.head()
human_id_map[human_id_map['Gene ID']=='ENSG00000262156']
#human_id_map[human_id_map['Gene ID']=='ENSG00000128383']

,Gene ID,Transcript ID,Protein ID,Associated Gene Name,EntrezGene ID
119421,ENSG00000262156,ENST00000624713,NaN,APOBEC3A,200315.0
119422,ENSG00000262156,ENST00000624713,NaN,APOBEC3A,100913187.0
119423,ENSG00000262156,ENST00000623492,ENSP00000485234,APOBEC3A,200315.0
119424,ENSG00000262156,ENST00000623492,ENSP00000485234,APOBEC3A,100913187.0
119425,ENSG00000262156,ENST00000572661,NaN,APOBEC3A,200315.0
119426,ENSG00000262156,ENST00000572661,NaN,APOBEC3A,100913187.0
119427,ENSG00000262156,ENST00000570508,ENSP00000461288,APOBEC3A,200315.0
119428,ENSG00000262156,ENST00000570508,ENSP00000461288,APOBEC3A,100913187.0